@import "https://fonts.googleapis.com/css?family=Lora:400,700"

* {
  margin: 0;
  border: 0;
  padding: 0;

}

body {
  font-family: 'Lora', sans-serif;
  color: white;
  background-color: #7c7f7f;
}
h1 {
  font-size: 550%;
  font-weight: 400;
  margin-bottom: -1%;
  text-align: center;
}
.one-half {
  width: 45%;
  display: inline-block;
  padding-left: 6%;
  margin-top: 5%;
  box-sizing: border-box;
}
.one-half img {
  width: 100%;
  height: 300px;
  margin-top: -10%;
  margin-left: 3%;
  margin-bottom: -10%;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, .4);
}
.one-half p {
  font-size: 150%;
  margin-bottom: 5%;
  margin-left: 5%;
}
.sub {
  font-size: 150%;
  margin-top: 2%;
  text-align: center;
}
h2  {
  text-align: center;
  margin-top: 5%;
}
h3 {
  font-size: 120%;
  text-align: center;
  width: 65%;
  padding: 2%;
  margin-top: 5%;
  margin-left: 18%;
}
h4 {
  font-size: 115%;
  width: 75%;
}
article, aside {
  display: inline-block;
}
article iframe {
  margin-left: 20%;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, .4);
}
.marine {
  width: 100%;
  height: auto;
  margin-left: 70%;
  margin-bottom: 30%;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, .4);
}
.one-part {
  width: 45%;
  display: inline-block;
  padding-left: 6%;
  margin-top: 2%;
  box-sizing: border-box;
}
.one-part img {
  margin-left: 15%;
  margin-right: -15%;
  width: 80%;
  height: auto;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, .4);
}
.actor ul li {
  font-size: 112%;
  text-decoration: none;
}
.video2 iframe {
  margin-left: 20%;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, .4);
}
.check-out img {
  margin-left: 38%;
  margin-bottom: 5%;
}
footer {
  width: 100%;
  height: 100px;
  background-color: #3f3c3c;
}
footer p {
  opacity: .3;
  padding-top: 3%;
  text-align: center;
}
@media screen and (max-width: 778px) {
  .one-half img {
    width: 600px;
    height: auto;
    display: block;
  }
.check-out img {
    width: 100%;
    height: auto;
}
footer  {
    width: 100%;
    height: 100px;
}

}

@media screen and (max-width: 482px)
