@import "https://fonts.googleapis.com/css?family=Lora:400,700"

* {
  margin: 0;
  border: 0;
  padding: 0;

}

body {
  font-family: 'Lora', sans-serif;
  color: white;
  background-color: #7c7f7f;
}
h1 {
  font-size: 550%;
  font-weight: 400;
  margin-bottom: -1%;
  text-align: center;
}
.one-half {
  width: 45%;
  display: inline-block;
  margin-top: 5%;
}
.one-half img {
  width: 90%;
  height: 300px;
  margin-left: 15%;
  margin-bottom: -8%;
  margin-top: -10%;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, .4);
  display: inline-block;
}
.one-half p {
  font-size: 150%;
  margin-bottom: 5%;
  margin-left: 5%;
}

h2  {
  text-align: center;
  margin-top: 5%;
}
h3 {
  font-size: 120%;
  text-align: center;
  width: 65%;
  padding: 2%;
  margin-top: 5%;
  margin-left: 18%;
}
h4 {
  font-size: 115%;
  width: 75%;
}
.one-part {
  width: 45%;
  display: inline-block;
  padding-left: 6%;
  margin-top: 2%;
  box-sizing: border-box;
}
.one-part img {
  margin-left: 15%;
  margin-right: -15%;
  width: 80%;
  height: auto;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, .4);
}
.actor ul li {
  font-size: 112%;
  text-decoration: none;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}
.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
.check-out img {
  margin-left: 38%;
  margin-bottom: 5%;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, .4);
}
footer {
  width: 100%;
  height: 100px;
  background-color: #3f3c3c;
}
footer p {
  opacity: .3;
  padding-top: 3%;
  text-align: center;
}
@media screen and (max-width: 783px) {
  .one-half {
    width: 100%;
  }
  .one-half img {
    width: 100%;
    height: auto;
    margin-left: .25%;
    margin-top: 1%;
    margin-bottom: 1%;
  }
  .sub {
    margin-bottom: 5%;
  }
  .one-part {
    width: 100%;
  }
  .one-part img {
    width: 100%;
    height: auto;
    margin-left: -3%;
  }
  .one-part .actor {
  }
.check-out img {
    width: 100%;
    height: auto;
    margin-left: -.5%;
}
footer  {
    width: 100%;
    height: 100px;
}
h3 {
    width: 90%;
    text-align: center;
    margin-left: 2%;
}

}

@media screen and (max-width: 482px)
